.App {
  height: 100vh;
  font-size: var(--font-size);
  text-align: left;
}

.calculate-button {
  color: var(--color-primary)
}

.attribution {
  font-size: .75rem;
}

@media screen and (min-width: 360px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .App section {
    padding: 20px;
  }
}