:root {
  --color-primary: #133040;
  --color-secondary: #D9DB30;
  --color-tertiary: #0E2431;
  --color-background: #E3F7FF;
  --color-background-text: #536974;
  --color-text: #74828B;
  --color-error: red;
  --color-blank: #FFF;
  font-size: 16px; /* This sets the base font size to 16px, making 1rem equal to 16px */
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}